.bg-blue{
    background-color: #4b94e1;
}
.bg-green{
    background-color:rgb(4, 255, 0);
}
.bg-grey{
    background-color:rgb(246, 246, 246);
}
.bg-red{
    background-color:#ff3d3d;
}
.bg-black{
    background-color: #211d24;
}
.bg-blue-main{

}
.bg-blue-second{

}