.font-25{
    font-size: 0.25rem;
}
.font-50{
    font-size: 0.5rem;
}
.font-75{
    font-size: 0.75rem;
}
.font-100{
    font-size: 1rem;
}
.font-125{
    font-size: 1.25rem;
}
.font-150{
    font-size: 1.5rem;
}
.font-175{
    font-size: 1.75rem;
}
.font-200{
    font-size: 2rem;
}
.font-225{
    font-size: 2.25rem;
}
.font-250{
    font-size: 2.5rem;
}
.font-275{
    font-size: 2.75rem;
}
.font-300{
    font-size: 3rem;
}
.font-325{
    font-size: 3.25rem;
}
.font-350{
    font-size: 3.5rem;
}
.font-375{
    font-size: 3.75rem;
}
.font-400{
    font-size: 4rem;
}
.font-425{
    font-size: 4.25rem;
}
.font-450{
    font-size: 4.5rem;
}
.font-475{
    font-size: 4.75rem;
}
.font-500{
    font-size: 5rem;
}
.font-525{
    font-size: 5.25rem;
}
.font-550{
    font-size: 5.5rem;
}
.font-575{
    font-size: 5.75rem;
}
.font-600{
    font-size: 5.75rem;
}