.font-red{
    color: #ff3d3d;
}
.font-green{
    color:green;
}
.font-gray{
    color: gray;
}
.font-yellow{
    color: yellow;
}
.font-purple{
    color:purple;
}
.font-blue{
    color: #4b94e1;
}
.font-orange{
    color: orange;
}
.font-black{
    color: #211d24;
}
.font-ddd{
    color: #ddd;
}
.font-eee{
    color: #eee;
}
.font-f8{
    color: #f8f8f8;
}
