.list-container{
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.1);
    border-radius: 20px;
    padding: 20px;
}
.list-operation-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-bottom: 30px;
}
.list-toolbar{
    display: flex;
    justify-self: end;
}
.list-frame{
    display: grid;
}
.list-item{
    display: grid;
}
.list-operation{
    display: flex;
    align-items: center;
}